In [63]:
import pyodbc
import pandas as pd
from sqlalchemy import create_engine

In [64]:
server = 'COMPUTADORDEDAR\SQLEXPRESS'  # Puede ser una dirección IP o nombre de host
database = 'Tangelo'

In [65]:
engine = create_engine(f'mssql+pyodbc://@{server}/{database}?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes')

In [66]:
abandono = pd.read_csv('churn_clean.csv')

In [67]:
abandono['NumOfProducts'] = abandono['NumOfProducts'].astype('uint8')
abandono['Tenure'] = abandono['Tenure'].astype('uint8')
abandono['CreditScore'] = abandono['CreditScore'].astype('uint16')
abandono['Exited'] = abandono['Exited'].astype('category')
abandono['IsActiveMember'] = abandono['IsActiveMember'].astype('category')
abandono['HasCrCard'] = abandono['HasCrCard'].astype('category')

In [68]:
abandono.head(1)

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,Hargrave,619,France,Female,42,2,0.0,1,Yes,Yes,101348.88,Yes

In [69]:
abandono.to_sql('Churn',con=engine, index=False, if_exists='append')

18

In [70]:
marketing = pd.read_csv('marketing_clean.csv')

In [71]:
marketing['age'] = marketing['age'].astype('uint8')
marketing['duration'] = marketing['duration'].astype('uint16')
marketing['campaign'] = marketing['campaign'].astype('uint8')
marketing['pdays'] = marketing['pdays'].astype('uint16')
marketing['previous'] = marketing['previous'].astype('uint8')
marketing['emp_var_rate'] = marketing['emp_var_rate'].astype('float16')
marketing['cons_price_idx'] = marketing['cons_price_idx'].astype('float32')
marketing['cons_conf_idx'] = marketing['cons_conf_idx'].astype('float32')
marketing['euribor3m'] = marketing['euribor3m'].astype('float32')
marketing['nr_employed'] = marketing['nr_employed'].astype('float32')
marketing.rename(columns={'y':'deposit'}, inplace=True)

In [72]:
marketing.head(1)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,deposit,month #
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,999,0,nonexistent,1.099609,93.994003,-36.400002,4.857,5191.0,no,5

In [73]:
marketing.rename(columns={'month #':'month_num','default': 'default_status'}, inplace=True)

In [74]:
marketing.to_sql('Marketing', con=engine, index=False, if_exists='append')

41

In [75]:
depositos = pd.read_csv('depositos_clean.csv')

In [76]:
depositos['age'] = depositos['age'].astype('uint8')
depositos['day'] = depositos['day'].astype('uint8')
depositos['duration'] = depositos['duration'].astype('uint16')
depositos['campaign'] = depositos['campaign'].astype('uint8')
depositos['previous'] = depositos['previous'].astype('uint8')

In [77]:
depositos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  uint8
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  uint8
 10  month      45211 non-null  object
 11  duration   45211 non-null  uint16
 12  campaign   45211 non-null  uint8
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  uint8
 15  poutcome   45211 non-null  object
 16  deposit    45211 non-null  object
 17  date       45211 non-null  object
dtypes: int64(2), object(11), uint16(1), uint8(4)
memory usage: 4.7+ MB

In [78]:
depositos.head(1)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit,date
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,999,0,unknown,no,05-05

In [79]:
depositos.rename(columns={'default':'default_status', 'date':'transaction_date'}, inplace=True)

In [80]:
depositos.to_sql('Deposito', con=engine, index=False, if_exists='append')

87